@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap");
.light-theme {
  --color-bg: #ffffff;
  --color-editor: #eeeeee;
  --color-highlight: #ffecc7;
  --color-text: #000000;
  --color-subtext: #444444; }

.dark-theme {
  --color-bg: #222222;
  --color-editor: #333333;
  --color-highlight: #3b3835;
  --color-text: #ffffff;
  --color-subtext: #dddddd; }

html {
  height: 100%;
  overflow: hidden; }

body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg); }

nav {
  background-color: var(--color-bg);
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid #ffb920; }
  nav .nav-logo {
    text-decoration: none;
    color: #ffb920; }
  nav .nav-item {
    padding: 10px;
    height: 100%;
    display: inline-block; }
    nav .nav-item:hover {
      background-color: var(--color-highlight); }

.content {
  height: 70%;
  color: var(--color-text);
  background-color: var(--color-bg); }

button {
  color: var(--color-text);
  background-color: var(--color-highlight);
  border: 1px solid var(--color-subtext);
  border-radius: 6px;
  padding: 6px; }

input, select {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-subtext);
  border-radius: 6px;
  padding: 6px; }

.actions-container {
  padding: 8px; }
  .actions-container .action {
    padding: 8px; }

#editor-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden; }
  #editor-container .editor-column {
    background-color: var(--color-editor);
    flex-grow: 1;
    max-width: 50%;
    display: inline-block;
    margin: 0; }
    #editor-container .editor-column .label {
      text-align: center;
      color: var(--color-subtext);
      background-color: var(--color-highlight);
      padding: 4px;
      margin: 0;
      font-size: 0.9rem; }
  #editor-container .gutter {
    width: 5px; }
  #editor-container #editor {
    height: 100%;
    outline: none;
    padding: 8px;
    font-family: "Fira Code", monospace;
    font-size: 0.9rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll; }
