@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Roboto:wght@300&display=swap')

$font-primary: 'Inter', sans-serif
$font-mono: 'Fira Code', monospace
$color-primary: #ffb920

$fontsize-supertitle: 1em
$fontsize-title: 0.9em
$fontsize-subtitle: 0.8em
$fontsize-content: 0.4em


.light-theme
  --color-bg: #ffffff
  --color-editor: #eeeeee
  --color-highlight: #ffecc7
  --color-text: #000000
  --color-subtext: #444444
.dark-theme
  --color-bg: #222222
  --color-editor: #333333
  --color-highlight: #3b3835
  --color-text: #ffffff
  --color-subtext: #dddddd
.theme-default
  --font-title: $font-primary
  --font-content: $font-primary
.theme-chic
  --font-title: 'Lora', serif
  --font-content: 'Raleway', sans-serif
.theme-elegant
  --font-title: 'Flamenco', serif
  --font-content: 'Roboto', sans-serif
 
html
  height: 100%
  overflow: hidden

body
  height: 100%
  margin: 0
  font-family: $font-primary
  color: var(--color-text)
  background-color: var(--color-bg)

nav
  background-color: var(--color-bg)
  width: 100%
  vertical-align: middle
  border-bottom: 1px solid $color-primary
  .nav-logo
    text-decoration: none
    color: $color-primary
  .nav-item
    padding: 10px
    height: 100%
    display: inline-block
    &:hover
      background-color: var(--color-highlight)

.site-content
  height: calc(100vh - 158px)
  color: var(--color-text)
  background-color: var(--color-bg)


button
  color: var(--color-text)
  background-color: var(--color-highlight)
  border: 1px solid var(--color-subtext)
  border-radius: 6px
  padding: 6px

input, select
  color: var(--color-text)
  background-color: var(--color-bg)
  border: 1px solid var(--color-subtext)
  border-radius: 6px
  padding: 6px



.actions-container
  padding: 8px
  .action
    padding: 8px

#editor-container
  height: 100%
  width: 100%
  display: flex
  flex-direction: row
  overflow: hidden
  .editor-column
    background-color: var(--color-editor)
    flex-grow: 1
    max-width: 50%
    display: inline-block
    margin: 0
    .label
      text-align: center
      color: var(--color-subtext)
      background-color: var(--color-highlight)
      padding: 4px
      margin: 0
      font-size: 0.9rem
  .gutter
    width: 5px
  #editor
    height: 100%
    outline: none
    padding: 8px
    font-family: $font-mono
    font-size: 0.9rem
    word-break: break-all
    word-wrap: break-word
    overflow-wrap: break-word
    overflow-y: scroll
  #preview
    height: 100%
    overflow-y: scroll
    padding: 0px 10px
    .slide-wrapper
        margin: 2em auto
        width: 100%
        padding-top: 75%
        position: relative
    .slide
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: var(--color-bg)
      background-repeat: no-repeat
      background-size: 100% 100%
      overflow: hidden

      .text
        font-family: var(--font-content)
        font-size: $fontsize-content !important
        p
          margin: 0 0 5px
        ul, ol
          margin: 0
          padding-inline-start: 16px
      .title, .title h1
          font-size: $fontsize-title !important
      .subtitle, .subtitle h2
        font-size: $fontsize-subtitle !important

    // .title
    //   background-color: #ff70ac44
    // .subtitle
    //   background-color: #ffbd5b44
    // .content
    //   background-color: #b1ff7d44

    .title-layout
      .title
        width: 100%
        height: 55%
        display: flex
        justify-content: center
        align-items: flex-end
        text-align: center
        h1
          margin: 0
      .subtitle
        margin: auto
        width: 80%
        text-align: center
        h2
          margin: 0

    .section-layout
      display: grid
      grid-template: "title content" "subtitle content"

      .title
        grid-area: title
        margin-left: 10%
        display: flex
        justify-content: center
        align-items: flex-end
        text-align: center
        h1
          margin: 0
      .subtitle
        grid-area: subtitle
        margin-left: 10%
        text-align: center
      .content
        grid-area: content 
        padding: 5%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column


    .content-layout
      .title
        margin: auto
        width: 90%
      .content
        margin: auto
        width: 90%

  #preview.theme-chic
    .slide
      color: #6d5b57
    .title-layout
      background-image: url("../themes/chic-title-bg.png")

      .title
        height: 65%
        width: 60%
        margin-left: 30%
        margin-right: 10%
        margin-bottom: 5%
        flex-direction: column
        justify-content: flex-end
        text-align: end
      .subtitle
        display: flex
        justify-content: flex-end
        align-items: flex-end
        text-align: end

    .section-layout
      background-image: url("../themes/chic-section-bg.png")
      .title, .subtitle
        color: #f2e1d8ff
        padding-left: 5%
        text-align: left
      .content
        margin-top: 40%

    .content-layout
      background-image: url("../themes/chic-content-bg.png")


  #preview.theme-elegant
    .slide
      color: #383838
    .title-layout
      background-image: url("../themes/elegant-title-bg.png")

      .title
        color: #ffffff
        height: 30%
        width: 60%
        margin-top: 30%
        margin-left: 35%
        margin-right: 5%
        flex-direction: column
        justify-content: flex-end
        text-align: end
      .subtitle
        color: #ffffff
        margin-right: 5%
        display: flex
        justify-content: flex-end
        align-items: flex-end
        text-align: end

    .section-layout
      background-image: url("../themes/elegant-section-bg.png")
      .title, .subtitle
        color: #ffffff
        padding-right: 10%
        text-align: right
      .content
        margin-left: 5%

    .content-layout
      background-image: url("../themes/elegant-content-bg.png")