<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../public/assets/icon.png">
    <link href="../public/style/style.css" rel="stylesheet"/>
    {% block css %}{% endblock %}
    <title>texttoslides</title>
  </head>

  <body id="layout-wrapper">

    <header>
      <nav class='navbar' aria-label='main navigation'>
        <div class='navbar-brand'>
          <a href='/' class='navbar-item'>
            texttoslides
          </a>
        </div>

      </nav>
    </header>

    <div id="content-wrapper">

        <div class='content container'>
          <div class='columns'>
            <div class='column is-8 is-offset-2'>
              <div class='section'>
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

  {% block js %}{% endblock %}
 
</html>