{% extends "base.njk" %}

{% block content %}
<div class="actions-container">
    <div class="action">
        <input id="link" type="text" placeholder="Link"></input>
        <button id="import-button" aria-label="Import content from link">Import from link</button>
        <small id="importhelp">Import content from link. Works with most articles and Notion!</small>
    </div>
    <div class="action">
        <select id="theme" name="theme">
            <option value="default">Select theme</option>
        </select>
        <button id="download-button" aria-label="Download">Download</button>
    </div>
</div>

<div id="editor-container">
    <div class="editor-column">
        <p class="label">editor</p>
        <div id="editor" contenteditable="true">{{ text or defaulttext() }}</div>
    </div>
    <div class="gutter"></div>

    <div class="editor-column">
        <p class="label">preview</p>
        <div id="preview" class="theme-default"></div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src='../public/js/lib/pptxgen.bundle.js'></script>
<script src='../public/js/lib/markdown-it.min.js'></script>
<script src='../public/js/editor.js'></script>
<script src='../public/js/preview.js'></script>
{% endblock %}



{% macro defaulttext() %}
<div id="default-editor-text">
# Presentation Title
## Subtitle


# Section Slide
## Section Subtitle

This is the description of this section.

**Some bold text**,
*some italicized text*

[a mysterious link](http://random.cat)


# Slide Title
These words are part of the body.
* bulleted
* list
1. numbered
2. list

--------

dashed line, new slide
</div>
{% endmacro %}

