{% extends "base.html" %}

{% block content %}

<h1>your content -> pptx</h1>

<form action="/grab" method="POST" onsubmit="return onSubmitGrab()">
    <div class="field has-addons">
        <div class="control">
            <input class="input" id="link" name="link" type="text" placeholder="Link"></input>
        </div>
        <div class="control">
            <button class="button" id="grabsubmit" type="submit">Grab content</button>
        </div>
    </div>
    <p id="grabhelp" class="help">Grab content from link. Works with most articles and Notion!</p>
</form>
<br/>

<form action="/convert" method="POST" onsubmit="return onSubmitConvert()">
    <div class="field">
        <div class="control">
            <div class="textarea" id="textdiv" contentEditable="true">{{data.text}}</div>
            <textarea name="text" id="formtextarea" hidden></textarea>
            <textarea id="texthtml" hidden>{{data.texthtml}}</textarea>
        </div>
    </div>
    <div class="field">
        <div class="select">
            <select name="theme">
              <option value="default">Select theme</option>
                {% for theme in themes %}
                    <option value={{theme}}>{{theme}}</option>
                {% endfor %}
            </select>
          </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" id="submitbutton" type="submit">Convert</button>
        </div>
    </div>
</form>

<hr/>
<section class="section">
    <h2>Formatting</h2>
    <p>texttoslides uses markdown-ish. You can also paste images!</p>
    <div class="control">
        <textarea class="textarea has-fixed-size" readonly rows=15>
---
title: My Slideshow Title
subtitle: by Me
---

# Section Slide

## Slide Title
These words are part of the body.
* list
* list
1. also list
2. also list

::: notes
Hi, these are speaker notes.
:::

## A Slide with Two Columns
::::: columns
::: column
These are the contents of column 1.
:::
::: column
These are the contents of column 2.
:::
:::::

--------

dashed line, new slide
        </textarea>
</section>

{% endblock %}

{% block js %}
<script src='../public/js/jquery.min.js'></script>
<script src='../public/js/editor.js'></script>
{% endblock %}