{% extends "base.html" %}

{% block content %}

<h1>You put text. You get pptx.</h1>

<form action="/" method="POST">
    <div class="field">
        <div class="control">
            <textarea class="textarea" name="text" placeholder="Text goes here..." rows="10">{{data.text}}</textarea>
        </div>
    </div>
    <div class="field">
        <div class="select">
            <select name="theme">
              <option value="default">Select theme</option>
                {% for theme in themes %}
                    <option value={{theme}}>{{theme}}</option>
                {% endfor %}
            </select>
          </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Convert</button>
        </div>
    </div>
</form>

<hr/>
<section class="section">
    <h2>Formatting</h2>
    <p>texttoslides uses markdown.</p>
    <div class="control">
        <textarea class="textarea has-fixed-size" readonly rows=15>
# title
these words go in the body
* list
* list
1. also list
2. also list

::: notes
these are speaker notes
:::

--------

dashed line, new slide
        </textarea>
</section>

{% endblock %}