{% extends "base.html" %}

{% block content %}

<h1>You put text. You get pptx.</h1>

<form action="/" method="POST" onsubmit="return onSubmit()">
    <div class="field">
        <div class="control">
            <div class="textarea" id="textdiv" contentEditable="true">{{data.text}}</div>
            <textarea name="text" id="formtextarea" hidden></textarea>
        </div>
    </div>
    <div class="field">
        <div class="select">
            <select name="theme">
              <option value="default">Select theme</option>
                {% for theme in themes %}
                    <option value={{theme}}>{{theme}}</option>
                {% endfor %}
            </select>
          </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" id="submitbutton" type="submit">Convert</button>
        </div>
    </div>
</form>

<hr/>
<section class="section">
    <h2>Formatting</h2>
    <p>texttoslides uses markdown-ish. You can also paste images!</p>
    <div class="control">
        <textarea class="textarea has-fixed-size" readonly rows=15>
# title
these words go in the body
* list
* list
1. also list
2. also list

::: notes
these are speaker notes
:::

# title of slide 2
::::: columns
::: column
these are the contents of column 1
:::
::: column
these are the contents of column 2
:::
:::::

--------

dashed line, new slide
        </textarea>
</section>

{% endblock %}

{% block js %}
<script src='../public/js/jquery.min.js'></script>
<script src='../public/js/editor.js'></script>
{% endblock %}